@model Category

<div class="container">
    <h1 class="text-center display-4"><a href="/">Products</a> || Categories</h1>
    <hr />

    <div class="row">
        <div class="col">
            <partial name="_NewCategory">
        </div>

        <div class="col">
            <partial name="_ExistingCategories">
        </div>
    </div>
</div>